@import "tailwindcss";

@theme {
  --color-primary: #0f62fe;
  --color-primary-hover: #0353e9;
  --color-primary-50: #eff4ff;
  --font-sans: "Inter", "Noto Sans JP", "Helvetica Neue", Arial, sans-serif;
}

/* 1. クラス名の抽出対象ファイルを明示的に指定 */
@source "./index.html";
@source "./main.js";
